
<a href="#" id="test">Yo</a>

<div class="dd"> Hello </div>


<% @tasks.each do |task| %>
<p><%= task.description %></p>
<p><%= task.type %></p>
<p><%= task.team_id %></p>
<% end %>

<h1><%= current_user.team_id %></h1>











