 <div class-"lightbox_container">	
 	<div class="sidebar">
 		<ul>
			<a href="#" class="button" title="button">
				<span class="icon-caricon"></span>
			</a> 
			<a href="#" class="button" title="test">
				<span class="icon-gridicon"></span>
				
			</a> 
			<a href="#" class='button'>
				<span class="in_progress"></span>
				
			</a> 
			<a href="#" class="button">
				<span class="all-to-dos"></span>
			</a>
			<a href="#" class='button'>
				<span class="completed-to-dos"></span>
			</a> 
		</ul>
	</div>
	<div class="card_content">
 	  <p>Task description</p>
 	  <p>Due Date</p>
 	  <p>Customer</p>
 	  <div class="comments_container">
 	  	Comments
 	  </div>
	</div>
</div>
