<div class="dashboard_container">
  Team Dashboard::Betterflow plugin test || route_3_spike
</div>

<div class="huddle_container">
  Team huddle::Or scroll through model.all instances.
</div>

<div class="calendar_container">
  Calendar

</div>

<div class="baus_container">
  BAU tasks
</div>

<div class="projects_container">
  Project
</div>

<div class="issues_container">
  Issues
</div>
Notes:
	Are we changing to waterwheel carousel in baus page? with toggle nav? Per Simon idea?



