<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="<%= asset_path 'jquery.jOrgChart.css'%>"/>

    <script type="text/javascript" src="<%= asset_path 'jquery.jOrgChart.js'%>"></script>

<div class"test">
    <ul id="org" style="display:none">
    <li>
      Food
      <ul>
        <li>Beer</li>
        <li>Vegetables
          <ul>
            <li>Pumpkin</li>
            <li><a href="http://tquila.com" target="_blank">Aubergine</a></li>
          </ul>
        </li>
        <li>Bread</li>
        <li>Chocolate
          <ul>
            <li>Topdeck</li>
            <li>Reese's Cups</li>
          </ul>
        </li>
      </ul>
    </li>
    </ul>

  </div>



  Notes:

  Need to look at moving around page.  Tried, no luck.

  No tooltip.js as per console?  Will implementing elsewhere fix?

    <script>
jQuery(document).ready(function() {
        $("#org").jOrgChart();
    });
    
    </script>