<div class="profile">

	<div class="sticky_pull">
		Profile
	</div>

	<div class="profile_content">
    
    </div>

</div>

<script>

$(".sticky_pull").click(function() {
  	$(".profile_content").toggleClass("profile_click");
  		console.log('Hello');
  	})

</script>