<div class="profile">

	<div class="sticky_pull">
		
		<img src="profile_pic.png" class="profile_pic">
		<h5>Account</h5>
		<h3>Simon Whittaker</h3>
	</div>

	<div class="profile_content">
    
    </div>

</div>

<script>

$(".sticky_pull").click(function() {
  	$(".profile_content").toggleClass("profile_click");
  	console.log('Hello');
});

</script>