 	<div class="sidebar">

 		<ul>
 			
			<a href="#" class="button" title="All Apps">
				<span class="icon-caricon"></span>
				
			</a> 
			<a href="#" class="button" title="Spike">
				<span class="icon-gridicon"></span>
			</a> 

			<a href="#" class="button popover" id="new_task" title="Add Task" >
				<div class="contents" style="display:none;">
					Test!!!
				</div>
				<span class="new-task"></span>
			</a> 
				
			<a href="#" class='button popover' id="add_event" title="Add Event">
				<div class="contents" style="display:none;">
					<p>Add Event</p>
				</div>
				<span class="completed-to-dos"></span>
			</a> 
		

			<a href="#" class="button popover" id="chat" title="Chat" >
				<div class="contents" style="display:none;">
					Test!!!
				</div>
				<span class="chat"></span>
			</a> 
		</ul>
<script>
  
</script>

	</div>