 	<div class="sidebar">

 		<ul>
 			
			<a href="#" class="button" title="button">
				<span class="icon-caricon"></span>
				
			</a> 
			<a href="#" class="button" title="test">
				
				<span class="icon-gridicon"></span>
				
			</a> 

			<a href="#" class='button'>

				<span class="in_progress"></span>
				
			</a> 

			<a href="#" class="button">
				<span class="all-to-dos"></span>
			</a>
				

			<a href="#" class='button'>
				<span class="completed-to-dos"></span>
				
			</a> 
			
			<a href="#" class="button" id="new_task">
				<span class="new-task"></span>
				
			</a> 
		</ul>

	</div>







