<% if user_signed_in? %>
 	<div class="sidebar">

 		<ul>
			<a href="#" class="button index popover" id="all_apps" title="All Apps">
				<span class="icon-caricon"></span>
			</a> 
			<a href="#" class="button_index" title="Spike" data-content="Hello">
				<span class="icon-gridicon"></span>
			</a> 
			<a href="#" class="button" title="Carousel View">
				<span class="icon-caricon"></span>
			</a> 
			<a href="#" class="button" title="Grid View">
				<span class="icon-gridicon"></span>
			</a> 
			<a href="#" class="button" id="new_task" >
				<span class="new-task" id='new_task_icon'></span>
			</a> 
			<a href="#" class="button" title="All To Do's">
				<span class="all-to-dos"></span>
			</a>
			<a href="#" class='button' title="In Progress">
				<span class="in_progress"></span>
			</a> 
			<a href="#" class='button' title="Completed">
				<span class="completed-to-dos"></span>
			<a href="#" class='button index popover' id="add_event" title="Add Event">
				<span class="completed-to-dos"></span>
			</a> 
			<a href="#" class="button index popover" id="" title="Chat" >
				<span class="chat" id="chat"></span>
			</a> 

		</ul>
	</div>
<% end %>

<script>
	$(document).ready(function() {
		var options = {
        placement: "left",
        content: "Hello",
        trigger: "hover"    
    }
		$(".icon-gridicon").popover(options)
	})
	    $(".icon-gridicon").on("click", function() { 
	    $(".icon-gridicon").popover('destroy');
		$('.popover-content').html('Bell');
	})

//  var $btn2 = $('.icon-gridicon');

// $btn2.popover({trigger: 'hover'})
//     .one('click', function() {
//         $btn2.popover('destroy')
//             .popover({ trigger: 'click'})
//             .popover('show');
//     });

	// $(".icon-gridicon").click(function() {
	// 	var options2 = {
 //        placement: "left",
 //        content: "Dick",
 //        trigger: "click"    
 //    }
	// 	$('.popover-content').html('Bell')
	// })
	// 	$(document).ready(function() {
	// 	var options = {
 //        placement: "left",
 //        content: "Hello"
 //        trigger: "hover"    
 //    }

	// });

	// $(document).ready(function() {
	// 	var options2 = {
 //        placement: "left",
 //        content: "Dick",
 //        trigger: "click"    
 //    }
	// 	$(".icon-gridicon").popover(options2)
	// })
	
</script>

