 	<div class="sidebar">

 		<ul>
 			
			<a href="#" class>
				<span class="icon-caricon"></span>
				
			</a> 
			<a href="#" class>
				<span class="icon-gridicon"></span>
				
			</a> 

			<a href="#" class>
				<span class="in progress"></span>
				
			</a> 

			<a href="#" class>
				<span class="all-to-dos"></span>
				

			<a href="#" class>
				<span class="completed-to-dos"></span>
				
			</a> 
			
			<a href="#" class>
				<span class="new-task"></span>
				
			</a> 
		</ul>
	</div>