<div class="sidebar">

 		<ul>
 			
			<a href="#" class="button" title="Carousel View">
				<span class="icon-caricon"></span>
				
			</a> 
			<a href="#" class="button" title="Grid View">
				<span class="icon-gridicon"></span>
			</a> 

			<a href="#" class="button" title="All To Do's">
				<span class="all-to-dos"></span>
			</a>

			<a href="#" class='button' title="In Progress">
				<span class="in_progress"></span>
				
			</a> 
				
			<a href="#" class='button' title="Completed">
				<span class="completed-to-dos"></span>
				
			</a> 
			
			<a href="#" class="button" id="new_task" title="New task" >
				<span class="new-task"></span>
				
			</a> 

			<a href="#" class="button" id="new_task" title="Chat" >
				<span class="chat"></span>
				
			</a> 
		</ul>
</div>














