 	<div class="sidebar">

 		<ul>
 			
			<a href="#" class="button" title="button">
				<span class="icon-caricon"></span>
				
			</a> 
			<a href="#" class>
				<span class="icon-gridicon"></span>
				
			</a> 

			<a href="#" class>
				<span class="in_progress"></span>
				
			</a> 

			<a href="#" class>
				<span class="all-to-dos"></span>
			</a>
				

			<a href="#" class>
				<span class="completed-to-dos"></span>
				
			</a> 
			
			<a href="#" class="button">
				<span class="new-task"></span>
				
			</a> 
		</ul>
<script>
  
</script>

	</div>







