 	<div class="sidebar">

 		<ul>
 			
			<a href="#" class="button index popover" id="all_apps" title="All Apps">
				<div class="contents" style="display:none;">
					<ul>
						<li>App1</li>
						<li>App2</li>
						<li>App3</li>
					</ul>

				</div>
				<span class="icon-caricon"></span>
				
			</a> 
			<a href="#" class="button index" title="Spike">
				<span class="icon-gridicon"></span>
			</a> 

			<a href="#" class="button" title="Carousel View">
				<span class="icon-caricon"></span>
				
			</a> 
			<a href="#" class="button" title="Grid View">
				<span class="icon-gridicon"></span>
			</a> 

			<a href="#" class="button index popover" id="new_task" title="Add Task" >
				<div class="contents" style="display:none;">
					<form> Task: <input type="text" name="Add Task"></form>
					<p>Date: <input type="text" id="datepicker"></p>
					<button>Add Task</button>
				</div>
				<span class="new-task"></span>
			</a> 
			
			<a href="#" class="button" title="All To Do's">
				<span class="all-to-dos"></span>
			</a>

			<a href="#" class='button' title="In Progress">
				<span class="in_progress"></span>
			</a> 
				
			<a href="#" class='button' title="Completed">
				<span class="completed-to-dos"></span>
				
			<a href="#" class='button index popover' id="add_event" title="Add Event">
				<div class="contents" style="display:none;">
					<p>Date: <input type="text" id="datepicker"></p>
					<button>Add Task</button>
				</div>
				<span class="completed-to-dos"></span>
			</a> 
		

			<a href="#" class="button index popover" id="chat" title="Chat" >
				<div class="contents" style="display:none;">
					<p>There are no team members online<p>

				</div>
				<span class="chat"></span>
			</a> 


				
			</a> 
		</ul>
<script>

  
</script>

	</div>