	<div id="logo">
      <%= link_to image_tag("logo1.svg", :alt => "Waza Logo"), {:action => :index, :controller => :welcome } %>
    </div>

    <form method="get" action="/search" id="search"> <input name="q" type="text" size="40" placeholder="Search..." /></form>