<div class="slide2">
  
  <nav class="container">
    
    <div class='box'>
    </div>

    <div class='box'>
    </div>

    <div class='box'>
    </div>

     <div class='box'>
    </div>

     <div class='box'>
    </div>

    <div class='box'>
    </div>

     <div class='box'>
    </div>

     <div class='box'>
    </div>
    
    <div class='box'>
    </div>

     <div class='box'>
    </div>

     <div class='box'>
    </div>

     <div class='box'>
    </div>

     <div class='box'>
    </div>

    <div class='box'>
    </div>

    <div class='box'>
    </div>
    
    <div class='box'>
    </div>

  </nav>

<div>

<script>
$('.box').on('mouseover', function(event) {
        $(event.currentTarget).css("background-color", "blue");
});

$('.box').on('mouseleave', function() {
        $(this).css("background-color", "yellow");
});
</script>
