<header>
  <div class="header">
  	<div id="logo">
      <object data="images/logo.svg" type="image/svg+xml" class="logo"></object>
    </div>
    
    <form method="get" action="/search" id="search"> <input name="q" type="text" size="40" placeholder="Search..." /></form>
   </div>
</header>