<div class="slide2">
  
  <nav class="container">
    
    <div class='box'>
    </div>

    <div class='box'>
    </div>

    <div class='box'>
    </div>

     <div class='box'>
    </div>

     <div class='box'>
    </div>

    <div class='box'>
    </div>

     <div class='box'>
    </div>

     <div class='box'>
    </div>
    
    <div class='box'>
    </div>

     <div class='box'>
    </div>

     <div class='box'>
    </div>

     <div class='box'>
    </div>

     <div class='box'>
    </div>

    <div class='box'>
    </div>

    <div class='box'>
    </div>
    
    <div class='box'>
    </div>

  </nav>

<div>