<body>
<div class="background"></div>
<header>
  <div class="header">
  	<div id="logo">
      <%= image_tag("logo.png", :alt => "Waza Logo") %>
    </div>
    
    <form method="get" action="/search" id="search"> <input name="q" type="text" size="40" placeholder="Search..." /></form>
   </div>
</header>
</body>
