<div class="main" style="height:100%;">

<section class="section active" style="height:100%;"><%= render 'slide1' %></section>

<section class="section" style="height:100%;"><%= render 'slide2' %></section>
</div>



 