<div class="main">

<section class="section active"><%= render 'slide1' %></section>

<section class="section"><%= render 'slide2' %></section>

<script type="text/javascript">
$(function(){
	$('.sidebar .button').hide()
	$('.sidebar .button.index').show()
})
</script>
</div>



 