/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.ui.all
 *= require_self
 *= require_tree .
 */


.sidebar {
	background: #333333;
	width: 70px;
	position: fixed;
	top: 10px;
	right: 10px;
	border-radius: 5px;
	z-index: 200;
	height: 250px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

}

.sidebar ul {
	margin: 0 auto;
	position: relative;
	right: 30px;
	margin: 1em 0;
  	padding: 0 0 0 40px;
}

.sidebar a {
	margin: 0 auto;
	z-index: 400;
	margin-bottom: 30px;
}

.icon-caricon {
	background: url(caricon.png) no-repeat;
	width: 48px;
	height: 48px;
	display: inline-block;
	vertical-align: middle;
	
}

.icon-gridicon {
	background: url(gridicon.png) no-repeat;
	width: 48px;
	height: 48px;
	display: inline-block;
	vertical-align: middle;
	
}

.completed-to-dos {
	background: url(completed.png) no-repeat;
	width: 48px;
	height: 48px;
	display: inline-block;
	vertical-align: middle;
}

.all-to-dos {
	background: url(alltodos.png) no-repeat;
	width: 48px;
	height: 48px;
	display: inline-block;
	vertical-align: middle;
}

.in-progress {
	background: url(inprogress.png) no-repeat;
	width: 48px;
	height: 48px;
	display: inline-block;
	vertical-align: middle;
}


.new-task {
	background: url(addtask.png) no-repeat;
	width: 48px;
	height: 48px;
	display: inline-block;
	vertical-align: middle;
}


.icon-gridicon:hover {
	width: 48px;
	height: 48px;
	display: inline-block;
	background-color: #ff2a65;
	padding:5px 5px 5px 5px;
	transition: opacity .25s ease-in-out;
	vertical-align: middle;
}

.completed-to-dos:hover {
	background: url(completed.png) no-repeat;
	width: 48px;
	height: 48px;
	display: inline-block;
	background-color: #ff2a65;
	padding:5px 5px 5px 5px;
	transition: opacity .25s ease-in-out;
	vertical-align: middle;
}

.all-to-dos:hover {
	background: url(alltodos_white.png) no-repeat;
	width: 48px;
	height: 48px;
	display: inline-block;
	background-color: #ff2a65;
	padding:5px 30px 5px 5px;
	transition: opacity .25s ease-in-out;
	vertical-align: middle;
}

.in-progress:hover {
	background: url(inprogress_white.png) no-repeat;
	width: 48px;
	height: 48px;
	display: inline-block;
	background-color: #ff2a65;
	padding:5px 5px 5px 5px;
	transition: opacity .25s ease-in-out;
	vertical-align: middle;
}


.new-task:hover {
	width: 48px;
	height: 48px;
	display: inline-block;
	background-color: #ff2a65;
	padding:5px 5px 5px 5px;
	transition: opacity .25s ease-in-out;
	vertical-align: middle;
}



