/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.ui.all
 *= require popover
 *= require_self
 *= require_tree .
 *= require onepagescroll

 */



.sidebar {
	background: #333333;
	width: 70px;
	position: fixed;
	top: 150px;
	right: 20px;
	border-radius: 5px;
	z-index: 700;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

}

.sidebar ul {
	margin: 0 auto;
	position: relative;
	right: -4px;
	margin: 1em 0;
}

.sidebar a {
	margin: 0 auto;
	z-index: 400;
	
}


.sidebar .button span {	
	width: 48px;
	height: 48px;
	display: inline-block;
	vertical-align: middle;
	padding:5px 5px 5px 5px;
	background-position: center;
	margin-bottom: 10px;
}

/*.icon-caricon {
	background: url(caricon.png) no-repeat;
	
}

.icon-gridicon {
	background: url(gridicon.png) no-repeat;
	
}*/

#all_apps {
	background: url(apps_icon_grey.png) no-repeat; 
	width: 48px;
	height: 48px;
	display: inline-block;
	vertical-align: middle;
	padding:5px 5px 5px 5px;
	background-position: center;
}

#all_apps:hover {
	background: url(apps_icon_pink.png) no-repeat;
	width: 48px;
	height: 48px;
	display: inline-block;
	vertical-align: middle;
	padding:5px 5px 5px 5px;
	background-position: center;
}

#spike {
	background: url(spike_grey.png) no-repeat; 
	width: 48px;
	height: 48px;
	display: inline-block;
	vertical-align: middle;
	padding:5px 5px 5px 5px;
	background-position: center;
}

#spike:hover {
	background: url(spike_pink.png) no-repeat;
	width: 48px;
	height: 48px;
	display: inline-block;
	vertical-align: middle;
	padding:5px 5px 5px 5px;
	background-position: center;
}


#completed-to-dos {
	background: url(complete_grey.png) no-repeat; 
	width: 48px;
	height: 48px;
	display: inline-block;
	vertical-align: middle;
	padding:5px 5px 5px 5px;
	background-position: center;
}

#completed-to-dos:hover {
	background: url(complete_pink.png) no-repeat;
	width: 48px;
	height: 48px;
	display: inline-block;
	vertical-align: middle;
	padding:5px 5px 5px 5px;
	background-position: center;
}


#all-to-dos {
	background: url(all_grey.png) no-repeat; 
	width: 48px;
	height: 48px;
	display: inline-block;
	vertical-align: middle;
	padding:5px 5px 5px 5px;
	background-position: center;
}

#all-to-dos:hover {
	background: url(all_pink.png) no-repeat;
	width: 48px;
	height: 48px;
	display: inline-block;
	vertical-align: middle;
	padding:5px 5px 5px 5px;
	background-position: center;
}

#add_event {
	background: url(event_grey.png) no-repeat; 
	width: 48px;
	height: 48px;
	display: inline-block;
	vertical-align: middle;
	padding:5px 5px 5px 5px;
	background-position: center;
}

#add_event:hover {
	background: url(event_pink.png) no-repeat;
	width: 48px;
	height: 48px;
	display: inline-block;
	vertical-align: middle;
	padding:5px 5px 5px 5px;
	background-position: center;
}

#cross {
	background: url(add_grey.png) no-repeat; 
	width: 48px;
	height: 48px;
	display: inline-block;
	vertical-align: middle;
	padding:5px 5px 5px 5px;
	background-position: center;
}

#cross:hover {
	background: url(add_pink.png) no-repeat;
	width: 48px;
	height: 48px;
	display: inline-block;
	vertical-align: middle;
	padding:5px 5px 5px 5px;
	background-position: center;
}

#chat {
	background: url(chat_grey.png) no-repeat; 
	width: 48px;
	height: 48px;
	display: inline-block;
	vertical-align: middle;
	padding:5px 5px 5px 5px;
	background-position: center;
}

#chat:hover {
	background: url(chat_pink.png) no-repeat;
	width: 48px;
	height: 48px;
	display: inline-block;
	vertical-align: middle;
	padding:5px 5px 5px 5px;
	background-position: center;
}

#in_progress {
	background: url(progress_grey.png) no-repeat; 
	width: 48px;
	height: 48px;
	display: inline-block;
	vertical-align: middle;
	padding:5px 5px 5px 5px;
	background-position: center;
}

#in_progress:hover {
	background: url(progress_pink.png) no-repeat;
	width: 48px;
	height: 48px;
	display: inline-block;
	vertical-align: middle;
	padding:5px 5px 5px 5px;
	background-position: center;
}





.sidebar .button span:hover {
	width: 48px;
	height: 48px;
	display: inline-block;
	transition: opacity .25s ease-in-out;
	vertical-align: middle;
}






