/* -- card_show_settings */

.card_show_container {
  padding: 8px;
  position: relative;
  background-color: #ff2a65;
  height: 57%;
  width: 935px;
  margin-left: 237px;
  margin-top: -1px;
}

.comment_list_container {
  width: 55%;
  height: 38%;
  float: left;
  overflow: hidden;
  padding: 2%;
  margin: 0;
  background-color: #333;
  border-radius: 5px;
}

.right_block2 {
  float: right;
  height: 98%;
  width: 40%;
  margin-right: 0;
  margin-top: 0;
  overflow: hidden;
  border-radius: 5px;
  color: white;
}

.description {
  float: left;
  height: 25%;
  width: 49%;
  background-color: #333;
  border: 1px solid #ff2a65;
  border-radius: 5px;
}

.bottom_left {
  position: absolute;
  height: 45%;
  width: 58%;
  top: 51%;
  background-color: #333;
  border-radius: 5px;
}