button {
	display: inline;
	height: 36px;
	background-color: #ff2a65;
	font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    line-height: 32px;
    vertical-align: middle;
    color: white;
    opacity: 1;
    text-transform: uppercase;
    border-radius: 5px;
    padding-top: 2px;
    padding-right: 23px;
    margin-right: 34px;
    margin-top: -20px;
    padding-left: 23px;
	border: 0;
}


.profile_container {
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 90;
	opacity: 0.8;
	background-color: #333333;

}

.content {
	display: absolute;
	opacity: 1;
	border-radius: 5px;
}

.left_block {
	float: left;
	height: 86%;
	width: 30%;
	background-color: #000;
	margin-left: 286px;
	margin-top: -36px;
	border-radius: 5px;
}

.heading h6 {
	text-align: left;
	text-transform: uppercase;
	font-family: 'Oxygen', sans-serif;
    font-size: 24px;
    color: #ff2a65;
    background-color: #000;
    border: 1px solid #ff2a65;
    padding-left: 20px;
    height: 22px;
    padding: 10px 20px 20px 20px;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    
}

.left_block li {
	text-align: left;
	font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    color: #ff2a65;
    background-color: #0099ff;
    border: 1px solid #ff2a65;
    height: 38px;
    padding-left: 70px;
    line-height: 40px;
    border-bottom: #333333;
    border-top: none;

}

.right_block {
	float: right;
	height: 64%;
	width: 34%;
	background-color: yellow;
	margin-right: 240px;
	margin-top: 30px;
	border-radius: 5px;

}

.sticky_pull {
	text-align: center;
	position: fixed;
	width: 70px;
  	// margin: 0 auto;
	top: -4px;
	height: 100px;
	background: #333333;
	z-index: 100;
	margin-left: 10px;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
	right: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	// border: 4px solid rgba(255, 42, 101, .5);
	transition: .25s ease-in-out;
	opacity: 0.8;
}

.sticky_pull:hover {
	background: #ff2a65;
}

.sticky_pull2 {
	opacity: 1;
}

.profile_pic {
	position: absolute;
	margin-left: -30px;
	margin-top: 34px;
}

.profile_arrow {
	position: absolute;
	margin-left: -12px;
	margin-top: 15px;
	opacity: 0.5;
	transition: opacity .25s ease-in-out;
}

.profile_arrow2 {
	opacity: 1;
}

.profile_content {
	width: 100%;
	height: 0px;
	transition: height 1s;
	margin: 0 auto;
	overflow: hidden;
	opacity: 1;

}


.profile_click {
	height: 340px;
}

.nav_profile {
	display: inline-block;
}

.profile_buttons {
	display: inline-block;
}

.nav_account {
	color: white;
	margin-top: 30px;
	text-align: right;
	margin-right: 120px;
	display: inline-block;
	width: 93%;
}

button:last-child {
	display: inline;
	height: 36px;
	background-color: #333333;
	font-family: 'Oxygen', sans-serif;
    font-size: 12px;
    line-height: 32px;
    vertical-align: middle;
    color: #ff2a65;
    opacity: 1;
    border-radius: 5px;
    border: 1px solid #ff2a65;
    padding-top: 2px;
    padding-right: 23px;
    margin-right: 34px;
    margin-top: -20px;
    padding-left: 23px;
	
}

button:last-child:hover {
	background-color: #ff2a65;
	color: white;	
}


