button {
	display: inline;
	height: 36px;
	background-color: #333;
	font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    line-height: 32px;
    vertical-align: middle;
    color: #ff2a65;
    opacity: 1;
    text-transform: uppercase;
    border-radius: 5px;
    padding-top: 2px;
    padding-right: 23px;
    margin-right: 0px;
    margin-top: 12px;
    padding-left: 23px;
    border: 1px solid #ff2a65;
}

button:hover {
	background-color: white;
	color: #ff2a65;
	border: 1px solid #ff2a65;
}


.profile_container {
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 90;
	opacity: 1;
	background-color: white;
	border-bottom: 6px solid #ff2a65;
}

.content {
	display: absolute;
	opacity: 1;
	border-radius: 5px;
}

.left_block {
	float: left;
	height: 67%;
	width: 30%;
	margin-left: 276px;
	margin-top: -89px;
	border-radius: 5px;
	padding: 4px 8px 0px 8px;
	background-color: white;
	opacity: 0.9;

}

.heading h6 {
	text-align: left;
	font-family: 'Oxygen', sans-serif;
    font-size: 24px;
    color: black;
    text-transform: uppercase;
    background-color: #fff;
    padding-left: 20px;
    height: 22px;
    padding: 10px 20px 24px 0px;
    // border-bottom-left-radius: 0px;
    // border-bottom-right-radius: 0px;
    
}

.left_block li {
	background: url(profile_pic.png) no-repeat 5% 50%;
	text-align: left;
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #ff2a65;
    height: 70px;
    padding: 0px 8px 3px 100px;
    line-height: 47px;
    border-top: none;
    border-bottom: none;
    opacity: 1;
    border-radius: 5px;	
    border: 2px solid #ff2a65;
    margin-top: 7px;

    

}


// .left_block li:hover {
// 	text-align: left;
// 	font-family: 'Source Sans Pro', sans-serif;
//     font-size: 16px;
//     color: #ff2a65;
//     background-color: white;
//     height: 62px;
//     padding-left: 70px;
//     line-height: 46px;

//     // border-right: 150px solid #ff2a65;

// }

// .left_block li p {
// 	font-size: 20px;
// 	display: inline;
// 	color: white;
// 	margin-left: 189px;
// 	position: fixed;
// 	margin-top: 10px;
// 	font-weight: bold
// }

// .due_date {
// 	content: "Due today";
// }

.right_block {
	float: right;
	height: 66%;
	width: 31%;
	margin-right: 283px;
	margin-top: -85px;
	border-radius: 5px;
	background-color: white;
}

.heading {
	background-color: white;
	opacity: 1;
	border-bottom: 2px solid black;
	
}

.right_block li {
	text-align: left;
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #fff;
    height: 52px;
    padding: 0px 8px 0px 70px;
    line-height: 47px;
    border-top: none;
    border-bottom: none;
    opacity: 1;
    border-radius: 5px;	
    margin-top: 7px;
    background-color: #ff2a65;
}

.right_block li:hover {
	
    color: #ff2a65;
    background-color: white;
    border: 1px solid #ff2a65;
   

}

.sticky_pull {
	text-align: center;
	position: fixed;
	width: 70px;
  	// margin: 0 auto;
	top: -4px;
	height: 100px;
	background: #333333;
	z-index: 100;
	margin-left: 10px;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
	right: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	// border: 4px solid rgba(255, 42, 101, .5);
	transition: .25s ease-in-out;
	opacity: 1;
}

.sticky_pull:hover {
	background: #ff2a65;
}

.sticky_pull2 {
	opacity: 1;
}

.profile_pic {
	position: absolute;
	margin-left: -30px;
	margin-top: 34px;
}

.profile_arrow {
	position: absolute;
	margin-left: -12px;
	margin-top: 15px;
	opacity: 0.5;
	transition: opacity .25s ease-in-out;
}

.profile_arrow2 {
	opacity: 1;
}

.profile_content {
	width: 100%;
	height: 0px;
	transition: height 1s;
	margin: 0 auto;
	overflow: hidden;
	opacity: 1;

}


.profile_click {
	height: 450px;
}

.nav_profile {
	display: inline-block;
	color: #ff2a65;
}

.nav_profile h6 {
	font-size: 20px;
	color: #333;
}

.profile_buttons {
	display: inline-block;
}

.nav_account {
	color: white;
	margin-top: 30px;
	text-align: right;
	margin-right: 120px;
	display: inline-block;
	width: 93%;
}

// .sign_out button {
// 	display: inline;
// 	height: 36px;
// 	background-color: #ff2a65;
// 	font-family: 'Oxygen', sans-serif;
//     font-size: 12px;
//     line-height: 32px;
//     vertical-align: middle;
//     color: white;
//     opacity: 1;
//     border-radius: 5px;
//     border: 1px solid #ff2a65;
//     padding-top: 2px;
//     padding-right: 23px;
//     margin-right: 34px;
//     margin-top: -20px;
//     padding-left: 23px;
	
// }

// .sign_out button:hover {
// 	background-color: #ff2a65;
// 	color: white;	
// }









