.sticky_pull {
	text-align: center;
	position: fixed;
	width: 70px;
  	// margin: 0 auto;
	top: -4px;
	height: 100px;
	background: #333333;
	z-index: 100;
	margin-left: 10px;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
	right: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	// border: 4px solid rgba(255, 42, 101, .5);
	transition: .25s ease-in-out;
	opacity: 0.8;
}

.sticky_pull:hover {
	background: #ff2a65;
}

.sticky_pull2 {
	opacity: 1;
}

.profile_content {
	width: 100%;
	height: 0px;
	transition: height 1s;
	margin: 0 auto;
	overflow: hidden;
	opacity: 1;

}


.profile_click {
	height: 30%;
}

.nav_content {
	background-color: red;
	height: 30px;
	width: 30px;
	z-index: 1000;
}

.left_block {
	background-color: green;
}

.right_block {
	background-color: yellow;
}
/*.profile_container {
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 90;
	opacity: 0.8;
	background-color: white;
  taking out moves on pull slide screen :) have removed class
}

*/







