// Place all the styles related to the task controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 /*--------index settings -----*/
.nav_container {
  
  margin: auto;
  background-color: white;
  border-color: #ff2a65;
  border-: 5px;
  position: fixed;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  width: 949px;
  position: inherit;
  margin-top: 20px;
  margin-left: 258px;
  padding: 0px 0px 5px 0px;
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #ff2a65;
  border-bottom-style: none;
}

.nav_container li {
  display: inline-block;
  border-right: 1px solid #ff2a65;

}



.nav_container a {
  display: inline-block;
  font-size: 16px;
  padding: 15px;
  text-decoration: none;
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  color: black;
  float: center;
  text-align: center;
  width: 123px; 
}

.nav_container li:last-child {
  border-right: none;
}



/*.view_container {
  position: relative;
  width: 80%;
  height: 70%;
  background-color: blue;
  margin: 0 auto;
  overflow: hidden;
}*/

#view_carousel {
  width:100%;
  clear:both;
  margin: 11% auto;
  margin-left: -87px;
}

#view_carousel li, #view_carousel img {
  visibility:hidden; /* hide images until carousel positions them */
  cursor:pointer;
  width: 60%;
  height: 50%;
  border: 1px solid black;
}

.carousel-center {
  background-color: #333333;

}

/*  --- BAUs ---from original jquery settings*/

#list_container {
  width:900px;
  height:250px;
  position:relative;
  clear:both;
  overflow:hidden;
  margin: 300px auto;
}
#list_container img {
  visibility:hidden; /* hide images until carousel positions them */
  cursor:pointer;
  z-index: 300;
}













