// Place all the styles related to the task controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 /*--------index settings -----*/
.nav_container {
  
  margin: auto;
  background-color: white;
  border-color: #ff2a65;
  border-radius: 5px;
  position: fixed;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  width: 950px;
  position: inherit;
  margin-top: 20px;
  margin-left: 258px;
  padding: 10px 0px 10px 0px;
}

.nav_container li {
  display: inline-block;
}

.nav_container a {
  display: block;
  font-size: 16px;
  padding: 15px;
  text-decoration: none;
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.card_show_container {
  padding: 8px;
  position: relative;
  background-color: blue;
  height: 60%;
  width: 80%;
  margin: 0 auto; 
}

.left_block {
  width: 40%;
  float: left;
}

.comment_list_container {
  float: right;
  background-color: yellow;
  height: 80%;
  width: 40%;
}

.comment_container {
  position: relative;
  overflow: hidden;
  width: 80%;
  height: 15%;
  background-color: red;
  margin: 2px auto;
}

.status_position {
  position: absolute;
  right: 0;
  bottom: 0;
}

/*.view_container {
  position: relative;
  width: 80%;
  height: 70%;
  background-color: blue;
  margin: 0 auto;
  overflow: hidden;
}*/

#view_carousel {
  width:100%;
  clear:both;
  margin: 11% auto;
  margin-left: -87px;
}

#view_carousel li, #view_carousel img {
  visibility:hidden; /* hide images until carousel positions them */
  cursor:pointer;
  width: 60%;
  height: 50%;
  border: 1px solid black;
}

.carousel-center {
  background-color: #333333;
}

/*  --- BAUs ---from original jquery settings*/

#list_container {
  width:900px;
  height:250px;
  position:relative;
  clear:both;
  overflow:hidden;
  margin: 300px auto;
}
#list_container img {
  visibility:hidden; /* hide images until carousel positions them */
  cursor:pointer;
}













