.ui-tooltip {
    background: #333333;
    color: white;
    border: none;
    padding: 0;
    opacity: 1;
}
.ui-tooltip-content {
    position: relative;
    padding: 0.5em;
}
.ui-tooltip-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
}
.left .ui-tooltip-content::after {
    top: 10px;
    right: -10px;
    border-color: transparent #333333;
    border-width: 10px 0px 10px 10px;
}