
// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background {

  z-index: -1;
  // position: absolute;

  top: 0;
  bottom: 0;
  height: 100%; 
  width: 100%;
  background: url(bg.png) no-repeat center center;
  background-size: cover;
  text-transform:uppercase;
 
}

h1 {
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 46px;
    margin: 0 0 23px 0;
    color: #ff2a65;
    padding-top: 25px;
    text-transform:uppercase;
    padding-left: 50px;
    opacity: 1;
}


h2 {
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    line-height: 46px;
    font-size: 42px;
    margin: 0 0 23px 0;
    color: black;
    padding-top: 20px;
    padding-bottom: 10px;
    text-transform:uppercase;
    /*background-color: #ff2a65;*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    vertical-align: middle;
    opacity: 1;
}
    /*border-bottom: 4px solid #ff2a65;;
*/


h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    line-height: 32px;
    margin-top: -25px;
    text-align: center;
    vertical-align: middle;
    color: #666666;
    padding-right:20px;
	 padding-left:20px;
    opacity: 1;
}

h4 {
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    line-height: 46px;
    font-size: 32px;
    margin: 0 0 23px 0;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform:uppercase;
    /*background-color: #ff2a65;*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    vertical-align: middle;
    opacity: 1;
    margin-top: -37px;
    color: white;
}


p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    line-height: 23px;
 
}


#logo {

	margin: 44px;
	z-index: 1;
	position: fixed;
  width: 100px;
  margin-left: -560px;
  left: 50%;

}

.profile_account {
	margin-left: 120px;
	bottom: 20px;
	overflow: hidden;
	padding-top: 250px;
	color: white;
	overflow-x:hidden;
}

/*search bar -----------------------*/

input:focus {
	outline: none;
}

#search {
	position: fixed;
	top: 40px;
  left: 30%;
  z-index: 10;
}

#search input[type="text"] {
    background: url(search-dark.png) no-repeat 13px 13px #fcfcfc;
    border: 0 none;
    font-family: 16px, 'Source Sans Pro', sans-serif;
    width:150px;
    color: #ff2a65;
    position: -30px;
    padding: 13px 35px 13px 55px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    margin-top: 10px;
    position: absolute;
    }

#search input[type="text"]:focus {
    background: url(search-white.png) no-repeat 13px 13px #444;
    color: #ff2a65;
    width: 200px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    }

   

body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.slide2 {
  position: relative;
  background-image: url(subtle_dots.png);
  height: 100%;
  width: 100%;

}

.container {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	
}

.box {
  float: left;
  // display: inline-block;
  width: 30%;
  height: 230px;
  margin-top: 30px;
  margin-left: 2%;
  position: relative
}

// .box:hover {
//   background-color: #ff2a65;
// }

.overlay {
  position: absolute;
  background: rgba(255, 255, 255, .5);
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 30px;
  display: none;

}

.box:hover .overlay {
  display: block;
  background-color: #ff2a65;
  text-align: center;


}

.overlay h3 {
  margin-top: 40px;
  margin-bottom: 0px;
  position: relative;
  color: white;
}


.popover.left {
  margin-left: -10px;
}

.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  max-width: 2760px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #333333;
  border: 1px solid #ff2a65;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  background-clip: padding-box;
}

.popover.left .arrow {
top: 50%;
right: -11px;
margin-top: -11px;
border-left-color: #ff2a65;
border-left-color: rgba(0,0,0,0.25);
border-right-width: 0;
}
.popover .arrow {
border-width: 11px;
}
.popover .arrow, .popover .arrow:after {
position: absolute;
display: block;
width: 0;
height: 0;
border-color: transparent;
border-style: solid;
}

.popover-title {
padding: 8px 14px;
margin: 0;
font-size: 14px;
font-weight: normal;
line-height: 18px;
background-color: #333333;
border-bottom: 1px solid #ff2a65;
border-radius: 5px 5px 0 0;
}

.popover-content {
padding: 9px 14px;
}

.tooltip.left {
padding: 0 5px;
margin-left: -3px;
}
.tooltip.in {
opacity: .9;
filter: alpha(opacity=90);
}
.fade.in {
opacity: 1;
}
.tooltip {
position: absolute;
z-index: 1030;
display: block;
font-size: 12px;
line-height: 1.4;
opacity: 0;
filter: alpha(opacity=0);
visibility: visible;
}
.fade {
opacity: 0;
-webkit-transition: opacity .15s linear;
transition: opacity .15s linear;
}

.tooltip.left .tooltip-arrow {
top: 50%;
right: 0;
margin-top: -5px;
border-left-color: #ff2a65;
border-width: 5px 0 5px 5px;
}
.tooltip-arrow {
position: absolute;
width: 0;
height: 0;
border-color: transparent;
border-style: solid;
}

.tooltip-inner {
max-width: 200px;
padding: 3px 8px;
color: #ff2a65;
text-align: center;
text-decoration: none;
background-color: #333333;
border-radius: 4px;
}

#new-task-form {
  visibility: hidden;
}
