
// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background {

  z-index: -1;
  // position: absolute;

  top: 0;
  bottom: 0;
  height: 100%; 
  width: 100%;
  background: url(bg.png) no-repeat center center;
  background-size: cover;
  text-transform:uppercase;
 
}

h1 {
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 46px;
    margin: 0 0 23px 0;
    color: #ff2a65;
    padding-top: 25px;
    text-transform:uppercase;
    padding-left: 50px;
    opacity: 1;
}


h2 {
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    line-height: 46px;
    font-size: 42px;
    margin: 0 0 23px 0;
    color: black;
    padding-top: 20px;
    padding-bottom: 10px;
    text-transform:uppercase;
    /*background-color: #ff2a65;*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    vertical-align: middle;
    opacity: 1;
}
    /*border-bottom: 4px solid #ff2a65;;
*/


h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    line-height: 32px;
    margin-top: -25px;
    text-align: center;
    vertical-align: middle;
    color: #666666;
    padding-right:20px;
	padding-left:20px;
    opacity: 1;
}

h4 {
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    line-height: 46px;
    font-size: 32px;
    margin: 0 0 23px 0;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform:uppercase;
    /*background-color: #ff2a65;*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    vertical-align: middle;
    opacity: 1;
    margin-top: -37px;
    color: white;
}


p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    line-height: 23px;
 
}

.top_buttons button {
	display: inline;
	opacity: 1;
	width: 22%;
	height: 56px;
	background-color: #ff2a65;
	color: #000;
	border: 0;
	font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    line-height: 32px;
    text-align: right;
    vertical-align: middle;
    color: white;
    opacity: 1;
    margin-right: 15px;
    text-transform: uppercase;
    border-radius: 5px;
    padding-top: 10px;
    padding-right: 18px;
    box-shadow: 5px 5px 2px -2px hsl(100,40%,89%);

}

.top_buttons {
  display: flex;
	margin-top: -100px; 
  margin-left: 461px;

}



#logo {

	margin: 44px;
	z-index: 1;
	position: fixed;
  width: 100px;
  margin: 20px

}

.profile_account {
	margin-left: 120px;
	bottom: 20px;
	overflow: hidden;
	padding-top: 250px;
	color: white;
	overflow-x:hidden;
}

/*search bar -----------------------*/

input:focus {
	outline: none;
}

#search {
	position: absolute;
	top: 40px;
  	right: 30%;
}

#search input[type="text"] {
    background: url(search-dark.png) no-repeat 13px 13px #fcfcfc;
    border: 0 none;
    font-family: 16px, 'Source Sans Pro', sans-serif;
    width:150px;
    color: #ff2a65;
    position: -30px;
    padding: 13px 35px 13px 55px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    margin-top: 10px;
    position: fixed;
    }

#search input[type="text"]:focus {
    background: url(search-white.png) no-repeat 13px 13px #444;
    color: #ff2a65;
    width: 200px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    }

   

body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.slide2 {
  position: relative;
  background-image: url(subtle_dots.png);
  height: 100%;
  width: 100%;

}

.container {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	
}

.box {
  float: left;
  display: inline-block;
  width: 30%;
  height: 230px;
  margin-top: 30px;
  margin-left: 3%;
  background: yellow;
  box-shadow: 5px 5px 2px -2px hsl(100,40%,89%);
}

