<div class="projects_prior">
<% @tasks[:projects_previous_month].each do |task| %>
	<p>Project description: <%= task.description %></p>
	<p>Project status: <%= task.status %></p>
	<p>Project date: <%= task.due_date %></p>
	<p>Requested by: <%= task.requested_by %></p>
<% end %>
</div>